<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351577808102-no3fi4vhnvgshe35cg8q9j9hejs66utl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351577808102-no3fi4vhnvgshe35cg8q9j9hejs66utl</string>
	<key>API_KEY</key>
	<string>AIzaSyDzjaLMzQEboEIfImjXU22Bhs1JLLk_sjk</string>
	<key>GCM_SENDER_ID</key>
	<string>351577808102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firzen.flutterLogin</string>
	<key>PROJECT_ID</key>
	<string>flutterlogin-f9639</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterlogin-f9639.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351577808102:ios:e26bee3f5e75287c3eef27</string>
</dict>
</plist>